$font-size: 20px;
$button-background-color: green;
$button-font-color: white;
$text-font-color: red;

.helloworld {
    font-size: $font-size;
    padding: 7px 15px;
    background: $button-background-color;
    color: $text-font-color;
    outline: none;
}