@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --my-blue: #144fc6;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.circles {
  display: flex;
  flex-direction: row;
}

.circle {
  width: 4rem;
  height: 4rem;
  border: 3px solid var(--my-blue);
  margin: 1rem 1rem;
  border-radius: 100%;
  transition: 0.3s linear;
  background: linear-gradient(#fff 0%, var(--my-blue) 100%);
}

.circle.active {
  background-color: var(--my-blue);
}

.form form {
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  justify-content: center;
  justify-content: space-between;
}

.buttons button {
  display: none;
}

.buttons .active {
  display: inline-block;
}
